/* variables */
.just-center, .flex-column {
  display: flex;
  justify-content: center; }

.flex-column {
  flex-direction: column; }

.imgResp {
  width: 100%;
  height: auto; }

/* header y nav de bootstrap */
header {
  background-color: #1e1e1e; }

.logo {
  width: 13%;
  height: auto; }

/* MAIN */
main {
  background-color: #a1a1a1; }

.botonNaranja {
  height: 45px;
  width: 150px;
  background-color: #bc7500;
  text-decoration: none;
  color: white;
  padding-top: 11px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: montserrat;
  border-radius: 12px; }
