@import "variables.scss";
@import "home.scss";
@import "productos.scss";
@import "sobreNosotros";
@import "galeria.scss";






 /*footer */



 .div-footer{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-areas: "nav info";
 }

 

.nav-footer{
    font-family: montserrat;
    font-size: 11pt;
    color: rgb(185, 185, 185);
    text-decoration: none;
    margin-left: 7px;
}

.nav-footer-info{
    font-family: montserrat;
    font-size: 10pt;
    color: rgb(185, 185, 185);
    margin-bottom: 0px;
}

.nav-footer:hover{
    color: rgb(143, 143, 143);
    text-decoration: none;
}

.div-nav-footer{
    margin: 15px;
    margin: 15px;
}

.div-nav-footer-b{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-top: 15px;
   margin-right: 15px;
}

.img-footer{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
 
@media only screen and (max-width: 600px) {

    /* logo Nav bar */

    .logo{ 
        width: 30%;
        height: auto;
    }

    .nav-footer{
        font-size: 10pt;
        font-weight: 100;
    }

    .div-footer{
        display: flex;
        flex-direction: column;
    }

    .div-nav-footer{
        display: flex;
        justify-content: center;
    }

    .div-nav-footer-b{
        align-items: center;
    }

    .nav-footer{
        text-align: center;
    }
    
    .nav-footer-info{
        font-size: 10pt;
        font-weight: 100;

    }
   
 }