$colorBg: rgb(30, 30, 30);

.just-center{
    display: flex;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.resp{
    width: 100%;
    height: auto;
}

/* banner secciones */ 

.banner-text{
    @extend .hero-text;
    height: auto;
}

   .banner-title-bg{
    @extend .hero-title-bg;
    padding-top: 5px;
}

   .banner-image{

    position: relative;
    margin-bottom: 0px;
    
}

   .banner-title{
    @extend .hero-title;
    font-size: 22pt;
}


@media only screen and (max-width: 600px) {

    .banner-title{
        font-size: 16pt;
    }
 }